/* styles used only by mobile achievement view */

:root {
    --badge_color: rgb(255, 255, 255);
}

.badge_white { --badge_color: var(--pf_badge_white); }
.badge_bronze { --badge_color: var(--pf_badge_bronze); }
.badge_silver { --badge_color: var(--pf_badge_silver); }
.badge_gold { --badge_color: var(--pf_badge_gold); }
.badge_emerald { --badge_color: var(--pf_badge_emerald); }
.badge_sapphire { --badge_color: var(--pf_badge_sapphire); }

/* outer wrapper for achievement, parameters for flip card effect and background color */
.wrapperTrophy[animID] {
    display: grid;
    grid-template-columns: 8em calc(100% - 8em - 2em) 2em;
    grid-gap: 0;

    align-items: center;

    height: 8em;
    margin: 1em 0 1em 0;

    background: linear-gradient(90deg, rgb(60, 60, 70) 25%, rgb(89, 89, 95) 100%);

    border-radius: 4em 0 0 4em;
    border-width: 0 0.75em 0 0;
    border-style: solid;
    border-color: var(--badge_color);

    transform: rotateX(90deg);

    animation: rotateIn ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
    animation-delay: 0s;
}

/* control responsive design */
@media screen and (max-width: 550px) {
    .wrapperTrophy[animID] {
        grid-template-columns: 6em calc(100% - 6em - 1.5em) 1.5em;
        height: 6em;
        border-radius: 3em 0 0 3em;
    }
}

/* custom delay for every achievement card for special effect*/
.wrapperTrophy[animID="0"] { animation-delay: 0.5s; }
.wrapperTrophy[animID="1"] { animation-delay: 1s; }
.wrapperTrophy[animID="2"] { animation-delay: 1.5s; }

/* custom color for every type of achievement, light red, light green and white */
.wrapperTrophy[animID][colorID="2"] { background-color: var(--pf_item_bc); }
.wrapperTrophy[animID][colorID="1"] { background-color: var(--pf_correct_light); }
.wrapperTrophy[animID][colorID="0"] { background-color: var(--pf_wrong_light); }

/* outer wrapper for image for achievement */
.fillTrophyImage {
    overflow: hidden;
    margin: 0.75em;

    width: 6.5em;
    height: 6.5em;

    border-radius: 3.25em;
    border-width: 0.75em;
    border-style: solid;
    border-color: var(--badge_color);

    background-color: transparent;
}

/* control responsive design with variable*/
@media screen and (max-width: 550px) {
    .fillTrophyImage {
        width: 4.5em;
        height: 4.5em;

        border-radius: 2.25em;
    }
}

/* fills outer wrapper with centered image */
.imageTrophy {
    width: 5em;
    height: 5em;
    padding: 1em;
}


/* control responsive design */
@media screen and (max-width: 550px) {
    .imageTrophy {
        width: 3em;
        height: 3em;
        padding: 0.5em;
    }
}

/* right bar with stars*/
.trophyStars {
    margin: 0.25em 0 0.25em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* right bar with stars*/
.imageTrophyStar {
    margin: 0.15em 0 0.15em 0;
    width: 1.25em;
    height: auto;
}

/* control responsive design */
@media screen and (max-width: 550px) {
    .trophyStars {
        margin: 0.15em 0 0.15em 0;
    }

    .imageTrophyStar {
        margin: 0.1em 0 0.1em 0;
        width: 1em;
    }
}

/* positions description */
.wrapperTrophyDiscription {
    margin: 0;
    padding: 0.5em;
    justify-content: right;

    color: white;
    text-shadow: 2px 3px 3px black;
}

/* special heading color */
.wrapperTrophyDiscription h4 {
    font-weight: 900;
    font-family: "Raleway", sans-serif;
    color: var(--badge_color);
}

/* special bold character color*/
.wrapperTrophyDiscription b {
    font-weight: bold;
    font-size: larger;
    color: var(--badge_color);
}

/* control responsive design */
@media screen and (max-width: 550px) {
    .wrapperTrophyDiscription {
        font-size: small;
        padding: 0;
        margin: 0.5em 0 0.5em 0;
    }

    .wrapperTrophyDiscription h4 {
        font-size: large;
        margin: 0 0 0.15em 0;
    }

    .wrapperTrophyDiscription b {
        font-size: initial;
    }
}

/* control responsive design */
@media screen and (max-width: 455px) {
    .wrapperTrophyDiscription {
        font-size: 10.5px;
        padding: 0;
        margin: 0.5em 0 0.5em 0;
        line-height: 1.25em;
    }

    .wrapperTrophyDiscription h4 {
        font-size: medium;
        margin: 0 0 0.25em 0;
    }

    .wrapperTrophyDiscription b {
        font-size: small;
    }
}

/* special headline and player descriptor*/
.playerDescriptor {
    text-align: center;
}

.playerDescriptor h1, .playerDescriptor h2, .playerDescriptor h3, .playerDescriptor h4, .playerDescriptor h5, .playerDescriptor h6 {
    font-style: italic;
    font-weight: bold;
    color: var(--pf_wrong_dark);
}

/* positions score flags for scores & rank*/
.scoreFlagWrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* flag for scores & rank*/
.scoreFlag {
    position: relative;
    display: inline-block;
    height: 75px;
    width: 138px;

    text-align: center;
    font-size: 16px;
    line-height: 23px;

    margin: 8px 2px 35px 2px;
    padding: 24px 4px 4px 4px;

    background: var(--pf_yellow);
    border: 4px solid var(--pf_yellow_light);

    filter: drop-shadow(2px 4px 2px var(--pf_shadow_gray));
}

.scoreFlag[size="small"] {
    height: 65px;
    width: 96px;

    margin: 16px 2px 35px 2px;
    padding: 0.7em 0.25em 0.25em 0.25em;
    line-height: 20px;
}

.scoreFlag:before {
    position: absolute;

    left: 0;
    bottom: -30px;
    width: 0;
    height: 0;

    z-index: -1;
    content: "";

    border-top: 30px solid var(--pf_yellow);
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
}

.scoreFlag[size="small"]:before {
    left: 0;
    bottom: -20px;

    border-top: 20px solid var(--pf_yellow);
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
}

.scoreFlag:after {
    position: absolute;

    left: -5px;
    bottom: -35px;
    width: 0;
    height: 0;

    z-index: -2;
    content: "";

    border-top: 32px solid var(--pf_yellow_light);
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

.scoreFlag[size="small"]:after {
    position: absolute;

    left: -5px;
    bottom: -25px;

    border-top: 22px solid var(--pf_yellow_light);
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
}

.scoreFlag b { font-size: 45px; }
.scoreFlag[size="small"] b { font-size: 30px; }

.scoreFlag small { font-size: 12px; }
.scoreFlag[size="small"] small { font-size: 12px; }

/* adds character idle animation to for achievement screen */
.imageEndScreenIdle {
    display: block;
    height: 13em;
    width: auto;

    padding: 0.5em 0.5em 1em 1.5em;
    margin: 1em auto 1em auto;

    filter: drop-shadow(1px 2px 2px var(--pf_shadow_gray));
    /*animation: characterIdle;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0s;*/
}

/* control responsive design */
@media screen and (max-width: 550px) {
    .imageEndScreenIdle {
        height: 10em;
    }
}

/* container for heart icons */
.heartContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

    font-size: 5em;
}

/* different placement of two hearts in compact version*/
.heartContainer.compact span:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;

    transform: translate(0.5rem, 0.5rem);
}

.heartContainer.compact span:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;

    transform: translate(-1rem, 4rem);
}

/* heart displayed in normal or gray */
.heartImg {
    height: 2rem;
    width: auto;

    margin: 0.25rem;
}

.heartImg[gray] {
    filter: saturate(0%) brightness(250%);
}

/* item of fold-up list */
.modalItem {
    margin: 1em 0em 0.5em 0em;
}

/* content wrapper for text */
.sessionItem {
    margin: 0em 0em 0.5em 0em;
    padding: 0.5em;
    background-color: var(--pf_item_bc);
}

/* collapsible for session display */
.collapsible {
    cursor: pointer;
    width: 100%;
    text-align: left;
}

/* constraints size of preview image in question editor */
.editorPreviewImage {
    /*max-width: 11em;*/
    max-height: 10em;
    max-width: 100%;
}

/* crown above leaderboard */
.imageCrown {
    display: block;
    margin: 1em auto 2em auto;
    width: 8em;
    filter: drop-shadow(1px 2px 2px var(--pf_shadow_gray));
}

/* used to make swipers work on whole screen, expands to min 100% view height*/
.fullScreenExpander {
    display: block;
    min-height: calc(100vh - 34px);
}

/* leaderboard item outer wrapper to arrange individual items*/
.leaderboardItemWrapper[gameModeType][playerTypeId] {
    --item_color: var(--pf_badge_white);
    --item_background_color: rgb(60, 60, 70);
    --item_background_gradient: linear-gradient(90deg, rgb(60, 60, 70) 25%, rgb(89, 89, 95) 100%);
    --item_height: 3.5rem;

    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 100%;
    margin: 0.25em 0 0.25em 0;
}

/* custom sizing for player highlight in any mode */
.leaderboardItemWrapper.playerHighlight[gameModeType][playerTypeId] {
    --item_height: 5rem;
    font-weight: bold;
    margin: 1.25em 0 1.25em 0;
}

/* custom coloring for top 3 players and own player, except for team mode */
.leaderboardItemWrapper.gold:not([gameModeType='teams'])[playerTypeId] { --item_color: var(--pf_badge_gold); }
.leaderboardItemWrapper.silver:not([gameModeType='teams'])[playerTypeId] { --item_color: var(--pf_badge_silver); }
.leaderboardItemWrapper.bronze:not([gameModeType='teams'])[playerTypeId] { --item_color: var(--pf_badge_bronze); }
.leaderboardItemWrapper.playerHighlight:not([gameModeType='teams'])[playerTypeId] {
    --item_color: rgb(146, 208, 80);
}

.leaderboardItemWrapper[gameModeType='teams'][playerTypeId='1'] {
    --item_color: var(--pf_primary_dark);
    --item_background_color: rgb(230, 246, 255);
    --item_background_gradient: linear-gradient(90deg, rgb(230, 246, 255) 25%, rgb(211, 223, 255) 100%);
}

.leaderboardItemWrapper[gameModeType='teams'][playerTypeId='2'] {
    --item_color: var(--pf_wrong_dark);
    --item_background_color: rgb(255, 246, 230);
    --item_background_gradient: linear-gradient(90deg, rgb(255, 246, 230) 25%, rgb(255, 223, 211) 100%);
}

/* leaderboard list item */
.leaderboardItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    height: var(--item_height);
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    margin: 0;

    font-size: 1rem;

    color: var(--item_color);
    background: var(--item_background_gradient);

    border-right: 0.5em solid var(--item_color);
    filter: drop-shadow(1px 2px 2px var(--pf_shadow_gray));
}

.leaderboardItem > span {
    width: 4em;
    margin: 0 0 0 0.5em;

    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
}

.leaderboardItem.rank {
    display: block;
    height: var(--item_height);
    width: 2rem;

    margin: 0;
    padding: calc(var(--item_height) / 2 - 0.75em) 0.25em 0.25em 0;

    flex-grow: 0;
    font-size: 1rem;
    text-align: center;

    background: var(--item_background_color);
    border-right: 0.5em solid var(--item_color);
}

.leaderboardItem.rank:after {
    position: absolute;

    left: -8px;
    top: 0;
    width: 0;
    height: 0;

    content: '';
    z-index: 2;

    border-right: 8px solid var(--item_background_color);
    border-top: calc(var(--item_height) / 2) solid transparent;
    border-bottom: calc(var(--item_height) / 2) solid transparent;
}